.chartsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chartContainer1 {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  width: 100%;
  margin: 0 auto;
}

.chartContainer2 {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  width: 100%;
}

 .chartContainer1 .chartContainer2 .echarts-container {
  height: 450px;
  width: 100%;
}

.chartLoadingMessage {
  text-align: center;
  padding: 40px;
  grid-column: 1 / -1;
}
